<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Toggle right offcanvas</button>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">GreenBank</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="row"> 

      <div class="col"></div>
      <div class="col-10">

        <h3>You Have <b>Questions</b></h3>
        <h3><b>We</b> Have Confidence</h3>

        <p class="mt-2">Sign in to start your session</p>

          <form>
            <div class="group">      
              <input type="text" required>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Name</label>
            </div>

            <div class="group">      
              <input type="text" required>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Email</label>
            </div> 


            <button class="btn btn-modificado" (click)="entrar()">Continuar</button>

          </form>


      </div>
      <div class="col"></div>

    </div>

  </div>
</div>