@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Inter:wght@200;300&family=Maven+Pro&family=Orienta&family=Press+Start+2P&family=Questrial&display=swap');

* {
  font-family: 'Noto Sans', sans-serif;
}

p {
  line-height: 1.8;
}

.btn-modificado {
  width: 100%;
  background-color: #fd6699;
  color: var(--color-white);
}

/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

input {
  font-size: 16px;
  padding: 10px 10px 10px 0px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
}

input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus~label,
input:valid~label {
  top: -20px;
  font-size: 14px;
  color: var(--color-light-green);
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--color-light-green);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */
input:focus~.bar:before,
input:focus~.bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus~.highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: var(--color-light-green);
  }

  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: var(--color-light-green);
  }

  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: var(--color-light-green);
  }

  to {
    width: 0;
    background: transparent;
  }
}






.fonte {
  font-family: 'Comfortaa', cursive;
}

.fonte1 {
  font-family: 'Inter', sans-serif;
}

.fonte2 {
  font-family: 'Maven Pro', sans-serif;
}

.fonte3 {
  font-family: 'Orienta', sans-serif;
}

.fonte4 {
  font-family: 'Press Start 2P', cursive;
}

.fonte5 {
  font-family: 'Questrial', sans-serif;
}


.container {

  width: max-content;
  margin-left: auto;
  margin-right: auto;
}


.cor {

  background-color: #01CB63;
}

.cor1 {

  background-color: #01A550;
}

.cor2 {

  background-color: #00D768;
}

.cor3 {

  background-color: #565F67;
}

.cor4 {

  background-color: #1D212F;
}

.cor5 {

  background-color: #CCF5E0;
}

.cor6 {

  background-color: #DEE0E1;
}

.cor7 {

  background-color: #6391FF;
}

.cor8 {

  background-color: #3B6ADB;
}

.cor9 {

  background-color: #719BFF;
}



.corFonte {
  color: black;
  font-weight: bolder;
}


.puff-in-center {
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.puff-in-center2 {
  -webkit-animation: puff-in-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  animation: puff-in-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

