/* You can add global styles to this file, and also import other style files */

/* ROOT VARIABLES AND IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
    --color-white: #fff;
    --color-green: #01CB63;
    --color-dark-green: #01A550;
    --color-light-green: #00D768;
    --color-night: #1D212F;
    --color-gray: #565F67;
    --color-light-gray: #DEE0E1;
    --color-cyan: #CCF5E0;
    --color-blue: #6391FF;
    --color-dark-blue: #3B6ADB;
    --color-light-blue: #719BFF;

    --transition: all 300ms ease;
}

* {
  font-family: 'Noto Sans', sans-serif;
}
